/* DEFAULT STYLE */
section {
    padding: 25px 0;
}

/* NAVBAR STYLES */
.navbar {
    background-color: turquoise;
}

.text-red {
    color: red;
    font-weight: 900;
}

.text-red:hover {
    opacity: 0.7;
}

.nav-item a {
    color: black;
    font-weight: bold;
    font-size: 19px;
}

.nav-item a:hover {
   background-color: black;
   color: white;
   border-radius: 7px;
}

.last-link {
    border-radius: 7px;
    background-color: black;
    color: white
}

.last-link:hover {
   color: white;
}

ul li a{
    margin: 7px;
}

/* THE 3 COLUMN IMAGE SECTIONS STYLES */
.flex-container {
    display: flex;
    justify-content: center;
}

.flex-container h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkred
}

.col-md-4 img:hover {
    border: 3px solid turquoise;
    opacity: 0.9;
    box-shadow: 2px 2px 5px;
}

/*  FOOTER STYLES */
footer {
    height: 100%;
    background-color: black;
    padding: 20px;
    margin-top: 50px;
}

footer div p a {
    text-decoration: none;
    color: white;
}

footer div p a:hover {
    color: white;
}

footer div img {
    border-radius: 5px;
}

footer div h5 {
    color: white;
}

footer div hr {
    color: #d5d5d5;
}


@media(max-width: 768px) {
    .col-md-4 img {
        width: 100%;
    }
}

